body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    gap: 40px;
}

.countervalueContainer,
.counterValue {
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.countervalueContainer {
    background-color: blanchedalmond;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
}

.decrement {
    background-color: coral;
}

.increment {
    background-color: rgb(61, 103, 240);
}

.reset {
    background-color: rgb(70, 70, 70);
}

.decrement:hover {
    background-color: rgb(224, 108, 65);
}

.increment:hover {
    background-color: rgb(43, 81, 206);
}
.reset:hover {
    background-color: rgb(44, 44, 44);
}

.decrement,
.increment,
.reset {
    border: none;
    border-radius: 5px;
    padding: 11px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
}